# Docker Ignore
**/.pyc
**/__pycache__
.git
.github
.env
.idea
.vscode
venv/
.venv/
**/node_modules/
frontend/dist/
*.log
README.md
# We keep Dockerfile and .dockerignore listed to keep the context clean, 
# though they are technically not needed inside the image.
